// Fonts

$font-primary: 'Ubuntu', sans-serif;

// Colors
$primary: #1e90ff;
$transparent-bg: rgba(255, 255, 255, 0.3);
$shadow:0 7px 45px rgb(0 0 0 / 20%);
$input-color: #b8dcff;
$btn-transparent:rgba(255,255,255,0.5);

// Отступы
$m: 1%;
$m4:4%;
$input-pd:2%;